<div class="login-container">
  <div class="login-box">
    <div [ngClass]="orientation ? 'VerticalImg' : 'HorizontalImg'">
      <img src="logobig.png" alt="Beefeidrop Logo" class="logo" />
    </div>

    <form [ngClass]="orientation ? 'VerticalForm' : 'HorizontalForm'">
      <label for="username">Benutzername</label>
      <input type="text" id="username" placeholder="Benutzername" />

      <label for="password">Passwort</label>
      <input type="password" id="password" placeholder="Passwort" />

      <button (click)="signIn()" type="submit">Anmelden</button>
    </form>
  </div>
</div>
