.vouchersContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tableContainer {
  max-height: 490px;
  width: 75%;
  overflow-y: scroll;
  background-color: #D9D9D9;
  border-radius: 20px;
}

table {
  padding-top: 75px;
  width: 100%;
  font-size: 40px;
  font-weight: bold;
}

tr {
  width: 100%;
  display: flex;
}

td {
  padding-bottom: 50px;
}

.name {
  display: flex;
  justify-content: center;
  padding-left: 10px;
  width: 400px
}

.vouchers {
  padding-left: 250px;
}

.validatedVouchers {
  padding-left: 475px;
}

.headlines {
  margin: 50px 0 50px 0;
  width: 75%;
  display: flex;
  justify-content: space-around;
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.sums {
  margin: 50px;
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: left;
  font-size: 25px;
  font-weight: bold;
  color: white;
}

@media (orientation: portrait) {
  .horizontalLayout {
    display: none;
  }

  .verticalLayout {
    display: block;
  }

  .vouchersContainer {
    height: 83vh;
    align-items: flex-start;
  }

  .sums {
    font-size: 20px;
    margin: 50px 0 50px 20px;
  }

  .tableContainer {
    width: 100%;
  }

  table {
    font-size: 15px;
  }

  .name {
    display: block;
    padding-left: 10px;
    width: 155px;
  }

  .vouchers {
    padding-left: 10px;
  }

  .validatedVouchers {
    padding-left: 145px;
  }

  .headlines {
    width: 100%;
    font-size: 20px;
    gap: 30px;
    margin: 50px 0 10px 0;
  }
}

@media (orientation: landscape) {
  .horizontalLayout {
    display: block;
  }

  .verticalLayout {
    display: none;
  }
}
