<div class="layoutContainer">
  <img src="logomid.png" alt="Beefeidrop Logo">

  <a routerLink="vouchers" class="menuSection">
    <i class="uil uil-bill layoutIcon"></i>
    <h2>Gutscheinsystem</h2>
  </a>

  <a routerLink="time" class="menuSection">
    <i class="uil uil-chart-line layoutIcon"></i>
    <h2>Auswertung</h2>
  </a>

  <a routerLink="workspace" class="menuSection">
    <i class="uil uil-copy layoutIcon"></i>
    <h2>Arbeitsbereiche</h2>
  </a>

  <div class="menuSection">
    <a href="/"><i class="uil uil-signout layoutIcon"></i></a>
  </div>
</div>
<div class="contentContainer">
  <router-outlet></router-outlet>
</div>
