.layoutContainer {
  background-color: #D9D9D9;
}

.links {
  display: flex;
  justify-content: space-around;
  height: 110px;
  padding: 10px;
}

.menuSection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 200px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.layoutIcon {
  color: black;
  font-size: 50px;
}

.line {
  visibility: hidden;
  width: 250px;
  height: 8px;
  border-radius: 50px;
  background-color: black;
  margin-right: 90px;
}

.lines {
  display: flex;
  padding: 0 0 0 550px;
}

.line.selected {
  visibility: visible;
}
