.layoutContainer {
  background-color: #D9D9D9;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 110px;
  padding: 10px;
}

.menuSection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 200px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.layoutIcon {
  color: black;
  font-size: 50px;
}

.line {
  visibility: hidden;
  width: 250px;
  height: 8px;
  border-radius: 50px;
  background-color: black;
  margin-right: 90px;
}

.linesHorizontal, .linesVertical {
  display: flex;
  padding: 0 0 0 550px;
}

.line.selected {
  visibility: visible;
}

@media (orientation: portrait) {
  h2 {
    display: none;
  }

  .imgHorizontal {
    display: none;
  }

  .imgVertical {
    display: block;
    width: 60px;
    height: 60px;
  }

  .linesVertical {
    display: flex;
    padding-left: 45px;
  }

  .linesHorizontal {
    display: none;
  }

  .line{
    width: 50px;
    margin: 0 0 0 30px;
  }
}

@media (orientation: landscape) {
  .imgHorizontal {
    display: block;
    width: 360px;
  }

  .imgVertical {
    display: none;
  }

  .linesVertical {
    display: none;
  }
}
