.timeContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: auto;
  margin: 75px 75px 0 75px;
}

.yearSelector {
  display: flex;
  color: white;
  font-size: 40px;
  font-weight: bold;
}

.graph {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart-container {
  background-color: #D9D9D9;
  padding: 60px 30px 60px 30px;
  border-radius: 30px;
}

@media (orientation: portrait) {
  .horizontalLayout {
    display: none;
  }

  .verticalLayout {
    display: block;
  }

  .timeContainer {
    height: 83vh;
    margin: 0;
  }

  .graph {
    margin-top: 0px;
  }
}

@media (orientation: landscape) {
  .horizontalLayout {
    display: block;
  }

  .verticalLayout {
    display: none;
  }
}
