body {
  margin: 0;
  background: linear-gradient(to right, #0a0a54, #009fe3);
  font-family: ui-sans-serif, -apple-system, system-ui, Segoe UI, Helvetica, Apple Color Emoji, Arial, sans-serif, Segoe UI Emoji, Segoe UI Symbol;
}
